<section class="post-comments">
    {% if site.comment.disqus %}
    <div id="disqus_thread"></div>
    <script>

        var disqus_config = function () {
            this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}";
            this.page.identifier = "{{ page.url }}";
        };

        var disqus_shortname = '{{ site.comment.disqus }}';

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>要查看<a href="http://disqus.com/?ref_noscript"> Disqus </a>评论，请启用 JavaScript</noscript>

    {% elsif site.comment.duoshuo %}
    <div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"></div>
    <script type="text/javascript">
        var duoshuoQuery = { short_name: "{{ site.comment.duoshuo }}" };
        (function () {
            var ds = document.createElement('script');
            ds.type = 'text/javascript'; ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    {% endif %}
    {% if site.comment.gitalk %}
    <!-- Gitalk 评论 start  -->

    <!-- Link Gitalk 的支持文件  -->
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
    <script src="/js/md5.min.js"></script>
    <div id="gitalk-container"></div>
    <script type="text/javascript">
        var gitalk = new Gitalk({

            // gitalk的主要参数
            clientID: `15109b1a55195310fc97`,
            clientSecret: `500c4d9de03bb42becc5b493b2c5ff8d9f7b8261`,
            repo: `blogcomments`,
            owner: 'modereas',
            admin: ['modereas', 'moderras'],
            id: md5("{{page.url}}"),

        });
        gitalk.render('gitalk-container');
    </script>
    <!-- Gitalk end -->
    {% elsif site.comment.gitment %}
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        const gitment = new Gitment({
            id: 'ModerRAS', // optional
            owner: 'modereas',
            repo: 'blogcomments',
            oauth: {
                client_id: '15109b1a55195310fc97',
                client_secret: '500c4d9de03bb42becc5b493b2c5ff8d9f7b8261',
            },
            // ...
            // For more available options, check out the documentation below
        })

        gitment.render('comments')
    </script>
    {% endif %}



</section>